{% for host in groups['monitoring'] %}
- targets: ['{{ hostvars[host]['internal_ip'] }}']
  labels:
    instance: "{{ host }}"
    host_type: "{{ hostvars[host]['group_names'] | first }}"
{% endfor %}