apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://{{ loki_hostname }}:{{ loki_http_port }}
    basicAuth: false
    isDefault: false
    version: 1
    editable: false

  - name: Prometheus
    type: prometheus
    orgId: 1
    url: http://{{ prometheus_hostname }}:{{ prometheus_http_port }}
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
