apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://{{ grafana_loki_hostname }}:{{ grafana_loki_http_port }}
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
