modules:
  http_2xx:
    prober: http
    http:
      method: GET
      preferred_ip_protocol: ip4
      follow_redirects: true
      valid_status_codes: [200]
      tls_config:
        insecure_skip_verify: true 