{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}🚨 <b>WARNING!</b> 🚨
{{ else if eq .Status "resolved" }}✅ <b>SOLVED!</b> ✅
{{ else }}ℹ️ <b>INFO</b> ℹ️{{ end }}
<blockquote><b>{{ if .Labels.alertname }}{{ .Labels.alertname }}{{ else }}Alert{{ end }}</b></blockquote>
📅 <b>Time:</b> {{ .StartsAt.Format "02.01.2006 15:04:05" }}
📌 <b>Status:</b> {{ if eq .Status "firing" }}Active{{ else }}Solved{{ end }}

<blockquote>{{ if .Labels.category }}<b>⚙️ Category:</b> {{ .Labels.category }}{{ end }}
{{ if .Labels.severity }}<b>⚠️ Level:</b> {{ .Labels.severity }}{{ end }}
{{ if .Labels.instance }}<b>📍 Source:</b> {{ .Labels.instance }}{{ end }}
{{ if .Labels.job }}<b>🧰 Service:</b> {{ .Labels.job }}{{ end }}</blockquote>

{{ if .Annotations.description }}📝 <b>Description:</b> {{ .Annotations.description }}{{ end }}
{{ if .Annotations.summary }}🔍 <b>Details:</b> {{ .Annotations.summary }}{{ end }}

{{ if eq .Status "firing" }}🔴 <b>Response required!</b>{{ end }}
{{ end }}
{{ end }}